<h1 class="mb-30">
    <span class="label label-danger">Blog Posts</span>
</h1>

<% @posts.each do |post| %>
    <div class="panel panel-info">
        <div class="panel-heading"><h3><%= post.title %></h3></div>
        <div class="panel-body">
            <%= truncate(post.body, length: 300) %>
        </div>
        <%= link_to  "Read More", post_path(post), :class => 'btn btn-primary m-15' %>
    </div>
<% end %>

<!-- Pha^n trang -->
<%= paginate @posts, theme: 'twitter-bootstrap-3' %>